name: "CI - Nix"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  nix:
    name: "Nix build on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}-latest"
    strategy:
      matrix:
        # os: [macos, ubuntu]
        os: [ubuntu]
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: gepetto
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          extraPullNames: ros,baxter
      - run: nix flake check -L
  check:
    if: always()
    name: check-macos-linux-nix
    runs-on: ubuntu-latest
    needs:
      - nix
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
